.pTotal {
    font-size: 30px;
    font-weight: bold;
    text-align: end;
    padding: 20px;
}

.vaciarCarro {  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(249, 128, 21);
    border-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 10px;
}

button:hover {
    transform: scale(1.03);
}