* {
  padding: 0%;
  margin: 0%;
}

nav {
  display: flex;
  box-shadow: -2px 5px 5px black;
  height: 80px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.listaNav {
  display: flex;
  list-style: none;
}

.listaNav li  {
  padding: 10px;
}